h5 {
    font-size: 1rem!important;
}

p {
    font-size: .75rem!important;
}

.noBorder {
    border: 0px;
}

.logoNav {
    height: 70px;
    width: 70px;
}

.avatarNav {
    height: 70px;
    width: 70px;

    background-image: url('../img/saladeProfil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-mask-image: url('../img/v3r_mask.png');
    mask-image: url('../img/v3r_mask.png');
    -webkit-mask-size: 70px 70px;
    mask-size: 70px 70px;
}

a, .noBtn {
    color: #0B2341;
    background-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;

    border: 2px solid transparent;
    margin: 0px;
    padding: 2px;
}

.line {
    text-decoration: underline!important;
}

a:hover, a:focus, .noBtn:hover, .noBtn:focus {
    background: rgba(255, 242, 168,0.7);
    color:#0B2341;
    border: 2px solid #0B2341;
    border-radius: 5px;
}

ul li {
    padding-left: 20px;
    padding-right: 20px;
}

i {
    margin: 0px;
}

.badge {
    z-index: 4;
    position: absolute;
    
}

/* Media Queries */

@media (max-width: 768px) { 

    .logoNav {
        height: 55px;
        width: 55px;
    }

    .avatarNav {
        height: 55px;
        width: 55px;

        -webkit-mask-size: 55px 55px;
        mask-size: 55px 55px;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    a {
        font-size: 1.5rem;
    }

    .dropdown-menu {
        width: 100vw!important;
    }

 }