/* General */

html {
    height: 100%;
}

body {
    background-color: #78C7E0;
    height: 100%;
}

.h-15 {
    height: 10%;
}

.h-85 {
    height: 90%;
}

.hoverShow {
    display: none !important;
  }
  
.hoverHide{
    display: inline;
}
  
.hover:hover .hoverHide {
    display: none;
}
  
.hover:hover .hoverShow {
    display: inline !important;
}

p, header
{
    font-family: 'Poppins';
}

h1, h2, h3, h4, h5
{
    font-family: 'Poppins', sans-serif;
}

input
{
    width: max-content;
    height: 40px;
}

.bgTitre
{
    padding-left: 3%;
    border-style: solid;
    border-radius: 20px 20px;
    border-width: 7px;
}

/* Navbar */

.bgNav {
    background-color: #0076D5;
    color: #C5D800;
}

.bgApp {
    display: block;
}

.nav-link-lg {
    font-size: 2rem;
    color: #0B2341;
}

ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.noBullet {
    list-style-type: none;
}

.noBullet li {
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.noBtn {
    border: 0;
    background-color: transparent;
}