#bgtitre1
{
    margin-left: 30%;
    padding-left: 3%;
    border-style: solid;
    border-radius: 20px 20px;
    border-width: 7px;
    width: 780px;
}

#bgtitre2
{
    padding-right: 4%;
    background-color: rgb(11, 35, 65);
}

#titre2
{
    color: rgb(120, 198, 224);
    font-weight: bold;
}

#bgID
{
    background-color: rgb(0, 118, 213);
    padding-bottom: 3%;
}

#header
{
    color: rgb(11, 35, 65);
    font-style: italic;
    font-size: 19px;
    font-weight: bold;
}

#fonction
{
    width: 320px;
}

.description
{
    background-color: rgb(0, 118, 213);
    padding-top: 8px;
}

#dEvent
{
    width: 95%;
    height: 200px;
    border-radius: 15px 15px;
    margin-top: 5px;
}

#iEvent
{
    margin-top: 5%;
}

#dTemoin
{
    width: 95%;
    height: 100px;
    border-radius: 15px 15px;
    margin-top: 5px;
}

#iCorrection
{
    margin-top: 5%;
    margin-bottom: 5%;
}

#dCorrection
{
    width: 95%;
    height: 100px;
    border-radius: 15px 15px;
    margin-top: 5px;
}

#separation
{
    height: 20px;
    width: 100%;
    background-color: rgb(11, 35, 65);
}

#headerSup
{
    color: rgb(11, 35, 65);
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    padding-left: 320px;
}

#labelSup
{
    color: rgb(11, 35, 65);
    font-style: italic;
    font-size: 19px;
    font-weight: bold;
}


@media screen and (max-width: 576px)
{
    #bgtitre1
    {
        margin-left: 0%;
        width: 100%;
    }

    #fonction
    {
        width: 200px;
    }

    #header
    {
        margin-left: 20px;
    }

    #divSecteur
    {
        padding-top: 28px;
    }

    #divLieu
    {
        margin-top: 28px;
    }

    #Mat
    {
        padding-top: 20px;
    }

    .champ
    {
        margin-left: 20px;
    }

    #iTemoin
    {
        margin-top: 20px;
    }

    #checkSup
    {
        margin-top:38px;
        margin-right: 0%;
        margin-left: 30px;
    }

    #Sup
    {
        margin-left: 0%;
        padding-left: 0%;
        margin-top: 10px;
    }

    #headerHeureSup
    {
        color: rgb(11, 35, 65);
        font-style: italic;
        font-size: 19px;
        font-weight: bold;
        margin-left: 60px;
        margin-top: 20px;
    }
}
